*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    width: 100vw;
    height: 100vh;
}

header h1{
    height: 10%;
    padding: 3% 0;
    text-align: center;
    background-color: rgb(107, 116, 218);
    color: white;
}

.main{
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(174, 174, 236);
    padding: 5%;
}
.container{
    min-width: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 47%;
    margin: 0 2%;
    aspect-ratio: 1/1;
    border: 2px solid rgb(85, 85, 85);
    background-color: rgb(255, 255, 255);
}

.row {
    display: flex;
    flex: 1;
}

.row-box{
    flex: 1;

}

.border-right{
    border-right: 1px solid rgb(85, 85, 85);
}

.border-bottom{
    border-bottom: 1px solid rgb(85, 85, 85);
}

.settings{
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 4%;
}

.resizeSetting {
    color: white;
    margin: 5% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid black;
}

.dimension{
    font-size: 18px;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dimension div{
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 1%;
}


.dimension input{
    width: 50%;
    margin-left: 3%;
}

#resize, #clear{
    margin-top: 5%;
    margin-bottom: 8%;
    width: 35%;
    height: 50%;
}

.colorSetting{
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid black;
}

.colorSelectorSetting, .randomSetting, .opacitySetting, .borderSetting{
    color: white;
    width: 100%;
    white-space: nowrap;
    font-size: 18px;
    font-weight: 800;
    display: flex;
    align-items: center;
    margin: 5% 0 5% 10%;
    gap: 5%;
}

.randomSetting{
    display: flex;
    align-items: center;
}

.opacitySetting{
    display: flex;
    align-items: center;
}

.borderSetting{
    display: flex;
    align-items: center;
    margin-bottom: 10%;
}

#clear{
    margin-bottom: 5%;

}

button{
    border-radius: 5px;
}

button:hover{
    background-color: rgb(191, 221, 248);
}

button:active{
    transform: translateY(2px);
}