.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    border: 2px solid red;
}

.row-box{
    flex: 1;

}

/* could change so that border width is relational to screen */

.border-right{
    border-right: 1px solid red;
}

.border-bottom{
    border-bottom: 1px solid red;
}

.row {
    display: flex;
    flex: 1;
}

.settings{

}

.resizeSetting{

}

.borderSetting{

}

.colorSetting{

}

.colorSelectorSetting{

}



